<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "course/style.css" %}">
  </head>
  <body>
    <div class="wrapper">
        <h1>Add a new Course</h1>
        
        <form action="{% url 'course_add' %}" method="post">
            {% csrf_token %}
            <label>Name:</label> 
            <input type="text" name="name">
            <label>Description:</label> 
            <textarea name="desc"></textarea>
            <input type="submit" value="Add">
        </form>
        {% if messages %}
            {% for message in messages %}
              <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <h1>Courses the 3rd</h1>
        <table>
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Description</th>
                    <th>Date Added</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{course.name}}</td>
                    <td>{{course.desc}}</td>
                    <td>{{course.create_at}}</td>
                    <td><a href="{% url 'course_destroy' number=course.id %}">remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </body>
</html>